* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

.header,
.container_1 {
  width: 90%;
  margin: 0 auto;
}

.header::after {
  content: '';
  clear: both;
  display: table;
}

.logo {
  float: left;
  padding-top: 10px;
}

.menu {
  float: right;
  padding-top: 15px;
}
.menu {
  list-style-type: none;
  float: right;
}

.menu li {
  display: inline;
  padding-left: 10px;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  color: #0f2656;
}

.with_clrhd {
  color: #008aff;
  text-align: center;
  padding-top: 5px;
  font-size: 36px;
}

.without_clrhd {
  color: #0f2656;
  text-align: center;
  padding-top: 50px;
  font-size: 36px;
}

.container_1 p {
  color: #0f2656;
  text-align: center;
  padding-top: 10px;
}

/* here is the big photo section style */

.bigimg img {
  width: 100%;
  margin: 20px auto;
}

/* .bigimg::after {
  content: '';
  clear: both;
  display: table;
} */
/* here is the middle part */

.middle {
  width: 80%;
  margin: 50px auto;
  font-size: larger;
}

.middle1 {
  width: 40%;
  margin: 10px;
  float: left;
}

.middle1 h1 {
  color: #f15767;
  text-align: right;
  margin-bottom: 5px;
}

.middle p {
  text-align: right;
  margin-top: 5px;
  font-size: small;
}

.middle2 {
  width: 40%;
  margin: 10px;
  float: left;
}

.middle::after {
  content: '';
  clear: both;
  display: table;
}

/* Here is the last boxes styles */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.first {
  width: 26.66%;
  height: 300px;
  background: #fdebed;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}

.first div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.flex-container h3 {
  padding-bottom: 10px;
}

.second {
  width: 26.66%;
  height: 300px;
  background-color: #ebf9f4;
  margin-right: 15px;
  padding: 20px;
  position: relative;
}

.second div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.third {
  width: 26.66%;
  height: 300px;
  background-color: #fff7e8;
  padding: 20px;
  position: relative;
}

.third div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* here is footer section styles */

.footer {
  background-color: #008aff;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.footer p {
  text-align: center;
  padding: auto;
  font-size: 10px;
}
